.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.env
mlruns/
*.duckdb
*.duckdb.wal
data/**
!data/.gitkeep
!data/raw/
!data/raw/.gitkeep
!data/bronze/
!data/bronze/.gitkeep
!data/silver/
!data/silver/.gitkeep
!data/features/
!data/features/.gitkeep
notebooks/.ipynb_checkpoints/
.jupyter/
